@model WebApplication2.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipAddress_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipAddress_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipAddress_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipAddress_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipAddress_Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipAddress_Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipAddress_Postalcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipAddress_Postalcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipAddress_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipAddress_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.details)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
